<div class="content">
    <!--hero banner section-->
    <div class="hero-homepage">
        <div class="container wrapping-content">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="tagline">
                        <h1>Find Local Ads Near You</h1>
                        <h2>Over 1 million+ Ads posted by our users.</h2>
                    </div>
                    <div class="search_form">
                        <form class="row">
                            <div class="form-group col-lg-4 col-sm-12">
                                <input type="text" class="form-control" placeholder="What are you looking for?">
                            </div>
                            <div class="form-group col-lg-4 col-sm-12">
                                <select class="form-control">
                                    <option>All Categories</option>
                                    <option>Cars</option>
                                    <option>Properties</option>
                                    <option>Jobs</option>
                                    <option>Animals</option>
                                    <option>Phone</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-4 col-sm-12">
                                <button type="submit" class="custom-button">Search</button>
                            </div>
                        </form>
                    </div>
                    <div class="popular_searches">
                        Popular Searches:

                        <a href="#">business</a>,

                        <a href="#">Cars</a>,

                        <a href="#">money</a>,

                        <a href="#">food</a>,

                        <a href="#">Job</a>,

                        <a href="#">New car</a>,

                        <a href="#">dog</a>,

                        <a href="#">Iphone</a>,

                        <a href="#">Laptop</a>,

                        <a href="#">lawyer</a>,

                        <a href="#">computer</a>,

                        <a href="#">Furniture</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Category section-->
    <div class="category-container">
        <div class="container">
            <h2 class="text-center styleh2 karma"><a class="greens" href="#">Categories</a></h2>
            <div class="cat-icons">
                <a href="#">
                    <div class="mainicon icon maida-laptop">
                        <span class="text-icon">Laptop</span>
                    </div>
                </a>
                <a href="#">
                    <div class="mainicon icon maida-briefcase">
                        <span class="text-icon">Job</span>
                    </div>
                </a>
                <a href="#">
                    <div class="mainicon icon maida-t-shirt">
                        <span class="text-icon">Garments</span>
                    </div>
                </a>
                <a href="#">
                    <div class="mainicon icon maida-car-1">
                        <span class="text-icon">Cars</span>
                    </div>
                </a>
                <a href="#">
                    <div class="mainicon icon maida-calculator">
                        <span class="text-icon">Auditors</span>
                    </div>
                </a>
                <a href="#">
                    <div class="mainicon icon maida-zoo">
                        <span class="text-icon">Animals</span>
                    </div>
                </a>
                <a href="#">
                    <div class="mainicon icon maida-town-hall">
                        <span class="text-icon">Finance</span>
                    </div>
                </a>
                <a href="#">
                    <div class="mainicon icon maida-art-gallery">
                        <span class="text-icon">Art</span>
                    </div>
                </a>
                <a href="#">
                    <div class="mainicon icon maida-fast-food">
                        <span class="text-icon">Food</span>
                    </div>
                </a>
                <a href="#">
                    <div class="mainicon icon maida-bar">
                        <span class="text-icon">Club</span>
                    </div>
                </a>
                <a href="#">
                    <div class="mainicon icon maida-delivery-transport-2">
                        <span class="text-icon">Logistics</span>
                    </div>
                </a>
                <a href="#">
                    <div class="mainicon icon maida-display">
                        <span class="text-icon">Electronics</span>
                    </div>
                </a>
                <a href="#">
                    <div class="mainicon icon maida-cup">
                        <span class="text-icon">Cafe</span>
                    </div>
                </a>
                <a href="#">
                    <div class="mainicon icon maida-case-medic">
                        <span class="text-icon">Doctors</span>
                    </div>
                </a>
                <a href="#">
                    <div class="mainicon">
                        <i class="fa fa-film" aria-hidden="true"></i>
                        <span class="text-icon">Entertainment</span>
                    </div>
                </a>
                <a href="#">
                    <div class="mainicon icon maida-soccer">
                        <span class="text-icon">Games</span>
                    </div>
                </a>
                <a href="#">
                    <div class="mainicon icon maida-phone">
                        <span class="text-icon">Phones</span>
                    </div>
                </a>
                <a href="#">
                    <div class="mainicon icon" data-icon="F">
                        <span class="text-icon">Support</span>
                    </div>
                </a>
                <a href="#">
                    <div class="mainicon">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        <span class="text-icon">Books</span>
                    </div>
                </a>
                <a href="#">
                    <div class="mainicon">
                        <i class="fa fa-child" aria-hidden="true"></i>
                        <span class="text-icon">Child Care</span>
                    </div>
                </a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--Post section-->
    <div class="post-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="styleh2 karma text-center">Latest Ads</h2>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 margin_10px">
                    <div class="post-box">
                        <div class="thumbnail-holder">
                            <a href="#">
                                <img src="app/assets/img/sport-3365503_640.jpg" alt="iphone">
                            </a>
                        </div>
                        <div class="post-box-content">
                            <h3><a ui-sref="product">Iphone 64GB 6s Plus</a></h3>

                            <div class="post-category">
                                <a href="#"> <i class="fa fa-list-alt"></i> Phones</a>
                            </div>
                            <div class="post-location">
                                <a href="#"> <i class="fa fa-location-arrow"></i> London</a>
                            </div>
                            <div class="post-meta">
                                <i class="fa fa-dollar"></i>1600
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 margin_10px">
                    <div class="post-box">
                        <div class="thumbnail-holder">
                            <a ui-sref="product">
                                <img src="app/assets/img/books-1617327_640.jpg" alt="books">
                            </a>
                        </div>
                        <div class="post-box-content">
                            <h3><a ui-sref="product">Books for rent</a></h3>

                            <div class="post-category">
                                <a href="#"> <i class="fa fa-list-alt"></i> Books</a>
                            </div>
                            <div class="post-location">
                                <a href="#"> <i class="fa fa-location-arrow"></i> Berlin</a>
                            </div>
                            <div class="post-meta">
                                <i class="fa fa-dollar"></i>5000
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 margin_10px">
                    <div class="post-box">
                        <div class="thumbnail-holder">
                            <a ui-sref="product">
                                <img src="app/assets/img/football-3471371_640.jpg" alt="Footbal">
                            </a>
                        </div>
                        <div class="post-box-content">
                            <h3><a ui-sref="product">Football New fifa</a></h3>

                            <div class="post-category">
                                <a href="#"> <i class="fa fa-list-alt"></i> Games</a>
                            </div>
                            <div class="post-location">
                                <a href="#"> <i class="fa fa-location-arrow"></i> Lahore</a>
                            </div>
                            <div class="post-meta">
                                <i class="fa fa-dollar"></i>10.0 M
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 margin_10px">
                    <div class="post-box">
                        <div class="thumbnail-holder">
                            <a ui-sref="product">
                                <img src="app/assets/img/bicycle-1209682_640.jpg" alt="bicycle">
                            </a>
                        </div>
                        <div class="post-box-content">
                            <h3><a ui-sref="product">Bicyle</a></h3>

                            <div class="post-category">
                                <a href="#"> <i class="fa fa-list-alt"></i> vehicle</a>
                            </div>
                            <div class="post-location">
                                <a href="#"> <i class="fa fa-location-arrow"></i> New York</a>
                            </div>
                            <div class="post-meta">
                                <i class="fa fa-dollar"></i>500.0 k
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 margin_10px">
                    <div class="post-box">
                        <div class="thumbnail-holder">
                            <a href="#">
                                <img src="app/assets/img/vegetables-1584999_640.jpg" alt="vegetable">
                            </a>
                        </div>
                        <div class="post-box-content">
                            <h3><a ui-sref="product">Fresh Food And ....</a></h3>

                            <div class="post-category">
                                <a href="#"> <i class="fa fa-list-alt"></i> Food</a>
                            </div>
                            <div class="post-location">
                                <a href="#"> <i class="fa fa-location-arrow"></i> Norway</a>
                            </div>
                            <div class="post-meta">
                                <i class="fa fa-dollar"></i>150.0 k
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 margin_10px">
                    <div class="post-box">
                        <div class="thumbnail-holder">
                            <a href="#">
                                <img src="app/assets/img/bmw-1313343_640.jpg" alt="Car">
                            </a>
                        </div>
                        <div class="post-box-content">
                            <h3><a ui-sref="product">New BMW For...</a></h3>

                            <div class="post-category">
                                <a href="#"> <i class="fa fa-list-alt"></i> Car</a>
                            </div>
                            <div class="post-location">
                                <a href="#"> <i class="fa fa-location-arrow"></i>Australia</a>
                            </div>
                            <div class="post-meta">
                                <i class="fa fa-dollar"></i>10.0 m
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 margin_10px">
                    <div class="post-box">
                        <div class="thumbnail-holder">
                            <a href="#">
                                <img src="app/assets/img/job-2860035_640.jpg" alt="Footbal">
                            </a>
                        </div>
                        <div class="post-box-content">
                            <h3><a ui-sref="product">we are hiring</a></h3>

                            <div class="post-category">
                                <a href="#"> <i class="fa fa-list-alt"></i> Jobs</a>
                            </div>
                            <div class="post-location">
                                <a href="#"> <i class="fa fa-location-arrow"></i> Pakistan</a>
                            </div>
                            <div class="post-meta">
                                <i class="fa fa-dollar"></i>...
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 margin_10px">
                    <div class="post-box">
                        <div class="thumbnail-holder">
                            <a href="#">
                                <img src="app/assets/img/home-office-336374_640.jpg" alt="laptop">
                            </a>
                        </div>
                        <div class="post-box-content">
                            <h3><a ui-sref="product">Apple Mac 16gb..</a></h3>

                            <div class="post-category">
                                <a href="#"> <i class="fa fa-list-alt"></i> Laptop</a>
                            </div>
                            <div class="post-location">
                                <a href="#"> <i class="fa fa-location-arrow"></i> Auckland</a>
                            </div>
                            <div class="post-meta">
                                <i class="fa fa-dollar"></i>500.0 k
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 margin_10px">
                    <div class="post-box">
                        <div class="thumbnail-holder">
                            <a href="#">
                                <img src="app/assets/img/monitor-1276949_640.jpg" alt="Montior">
                            </a>
                        </div>
                        <div class="post-box-content">
                            <h3><a ui-sref="product">32" Lcd Tv</a></h3>

                            <div class="post-category">
                                <a href="#"> <i class="fa fa-list-alt"></i> LCD</a>
                            </div>
                            <div class="post-location">
                                <a href="#"> <i class="fa fa-location-arrow"></i> Paris</a>
                            </div>
                            <div class="post-meta">
                                <i class="fa fa-dollar"></i>2800
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 margin_10px">
                    <div class="post-box">
                        <div class="thumbnail-holder">
                            <a href="#">
                                <img src="app/assets/img/pug-801826_640.jpg" alt="dog">
                            </a>
                        </div>
                        <div class="post-box-content">
                            <h3><a ui-sref="product">Dog for adoption</a></h3>

                            <div class="post-category">
                                <a href="#"> <i class="fa fa-list-alt"></i> Animal</a>
                            </div>
                            <div class="post-location">
                                <a href="#"> <i class="fa fa-location-arrow"></i> Japan</a>
                            </div>
                            <div class="post-meta">
                                <i class="fa fa-dollar"></i>Free
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 margin_10px">
                    <div class="post-box">
                        <div class="thumbnail-holder">
                            <a href="#">
                                <img src="app/assets/img/rottweiler-1785760_640.jpg" alt="pupies">
                            </a>
                        </div>
                        <div class="post-box-content">
                            <h3><a ui-sref="product">2 Pupies Inocent</a></h3>

                            <div class="post-category">
                                <a href="#"> <i class="fa fa-list-alt"></i> Dogs</a>
                            </div>
                            <div class="post-location">
                                <a href="#"> <i class="fa fa-location-arrow"></i> Turkey</a>
                            </div>
                            <div class="post-meta">
                                <i class="fa fa-dollar"></i>5.0 M
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 margin_10px">
                    <div class="post-box">
                        <div class="thumbnail-holder">
                            <a href="#">
                                <img src="app/assets/img/medical-563427_640.jpg" alt="doc">
                            </a>
                        </div>
                        <div class="post-box-content">
                            <h3><a ui-sref="product">Child Care Center</a></h3>

                            <div class="post-category">
                                <a href="#"> <i class="fa fa-list-alt"></i> Child Care</a>
                            </div>
                            <div class="post-location">
                                <a href="#"> <i class="fa fa-location-arrow"></i> Atlanta</a>
                            </div>
                            <div class="post-meta">
                                <i class="fa fa-dollar"></i>50.0 k
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 margin_10px">
                    <div class="text-center">
                        <a href="#" class="custom-button">Show All</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <!--Newsletter section-->
    <div class="background-header footer_padding">
        <div class="container">
            <div class="navigation_footer">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="about-us-info">
                            <p>
                                <img src="app/assets/img/logo_200x200.png" class="max-width-100px" alt="logo"/>
                            </p>
                            <p><i class="fa fa-phone"></i> 123-456-987</p>
                            <p><i class="fa fa-map-marker"></i> 123 Street Infront of Macdonald, <br>
                                Kingsman, United States</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <h3>Popular Categories</h3>
                        <ul>
                            <li><a href="category.html">Properties</a></li>
                            <li><a href="category.html">Jobs</a></li>
                            <li><a href="category.html">Phones</a></li>
                            <li><a href="category.html">Cars</a></li>
                            <li><a href="category.html">Rent</a></li>
                            <li><a href="category.html">Electronics</a></li>
                        </ul>
                    </div>
                   <!-- <div class="col-lg-3 col-md-6 col-sm-12">
                        <h3>Location</h3>
                        <ul>
                            <li><a href="#">London</a></li>
                            <li><a href="#">Barcelona</a></li>
                            <li><a href="#">New York</a></li>
                            <li><a href="#">France</a></li>
                            <li><a href="#">Lahore</a></li>
                            <li><a href="#">Mumbai</a></li>
                        </ul>
                    </div>-->
                    <!--<div class="col-lg-3 col-md-6 col-sm-12">
                        <h3>Important Links</h3>
                        <ul>
                            <li><a ui-sref="home">Home</a></li>
                            <li><a href="aboutus.html">About</a></li>
                            <li><a href="contactus.html">Contact Us</a></li>
                            <li><a href="#">Login</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="faq.html">Faqs</a></li>
                        </ul>
                    </div>-->
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <!--<div class="col-md-6 zeropadd">
                                <p>2019 Maida Themes. copyright @ 2016 - 2019 Powered By <i class="fa fa-heart"></i>
                                    <a href="#" class="greens">Maida</a>
                                </p>
                            </div>-->
                            <!--<div class="col-md-6 zeropaddon768">
                                <ul class="pages-links zeropadd">
                                    <li><a href="#">Terms &amp; Condition</a></li>
                                    <li><a ui-sref="home">Dashboard</a></li>
                                    <li><a href="#">Privacy Policy </a></li>
                                    <li><a ui-sref="aboutus">About Us</a></li>
                                </ul>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
