<!-- partial:partials/_header.html -->

<!-- partial -->
<div class="page-body">
    <!-- partial:partials/_sidebar.html -->
    <div ng-include="'app/views/sidebar.html'"></div>
    <!-- partial -->
    <div class="page-content-wrapper">
        <div class="page-content-wrapper-inner">
            <div class="content-viewport">
                <div class="row">
                    <div class="col-12 py-5">
                        <h4>Dashboard</h4>
                        <p class="text-gray">Welcome aboard, Mr.<span style="color: blue"
                                                                      ng-bind="loginUserData.name"></span></p>
                    </div>
                </div>
                <div ng-show="loginUserData.roles[0].id== 1"  class="m-portlet">
                    <div class="m-portlet__body  m-portlet__body--no-padding">
                        <div class="row m-row--no-padding m-row--col-separator-xl">
                            <div class="col-xl-4">
                                <!--begin:: Widgets/Stats2-1 -->
                                <div class="m-widget1">
                                    <div class="m-widget1__item">
                                        <div class="row m-row--no-padding align-items-center">
                                            <div class="col">
                                                <h3 class="m-widget1__title">
                                                    Total Purchase
                                                </h3>
                                                <span class="m-widget1__desc">
															Purchase from vendors
														</span>
                                            </div>
                                            <div class="col m--align-right">
														<span class="m-widget1__number m--font-accent">
															{{totalPurchase}}
														</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="m-widget1__item">
                                        <div class="row m-row--no-padding align-items-center">
                                            <div class="col">
                                                <h3 class="m-widget1__title">
                                                    Branch Sale
                                                </h3>
                                                <span class="m-widget1__desc">
															Total Amount
														</span>
                                            </div>
                                            <div class="col m--align-right">
														<span class="m-widget1__number m--font-brand">
															{{totalBranchSale}}
														</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-widget1__item">
                                        <div class="row m-row--no-padding align-items-center">
                                            <div class="col">
                                                <h3 class="m-widget1__title">
                                                    Customer Sale
                                                </h3>
                                                <span class="m-widget1__desc">
															Total Amount
														</span>
                                            </div>
                                            <div class="col m--align-right">
														<span class="m-widget1__number m--font-danger">
															{{totalCustomerSale}}
														</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!--end:: Widgets/Stats2-1 -->
                            </div>
                            <div class="col-xl-4">
                                <!--begin:: Widgets/Daily Sales-->
                                <div class="m-widget14">
                                    <div class="m-widget14__header m--margin-bottom-30">
                                        <h3 class="m-widget14__title">
                                            Total Income
                                        </h3>
                                        <span class="m-widget14__desc">
                                        Total income from customer and branch Sale
												</span>
                                    </div>
                                    <div style="height:120px;">
                                        <div class="chartjs-size-monitor"
                                             style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                            <div class="chartjs-size-monitor-expand"
                                                 style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                                            </div>
                                            <div class="chartjs-size-monitor-shrink"
                                                 style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                                            </div>
                                        </div>
                                        <!--                                        <canvas id="m_chart_daily_sales" width="422" height="150" class="chartjs-render-monitor" style="display: block; height: 120px; width: 338px;"></canvas>-->

                                        <div class="col m--align-center">
														<span class="m--icon-font-size-lg5 m--font-success  ">
                                                {{totalIncome}}
														</span>
                                        </div>
                                    </div>
                                </div>
                                <!--end:: Widgets/Daily Sales-->
                            </div>
                            <div class="col-xl-4">
                                <!--begin:: Widgets/Profit Share-->
                                <div class="m-widget14">
                                    <div class="m-widget14__header">
                                        <h3 class="m-widget14__title">
                                            Assets
                                        </h3>
                                        <span class="m-widget14__desc">
													Assets value in our organization
												</span>
                                    </div>
                                    <div class="row  align-items-center">
                                        <div class="col">
                                                                                        <div id="m_chart_profit_share" class="m-widget14__chart" style="height: 160px">
                                                                                            <div class="m-widget14__stat">
                                                                                                2015
                                                                                            </div>
                                                                                            <svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct"
                                                                                                 width="100%"
                                                                                                 height="100%"
                                                                                                 class="ct-chart-donut"
                                                                                                 style="width: 100%; height: 100%;">
                                                                                                <g class="ct-series custom">
                                                                                                    <path d="M135.314,107.229A63.95,63.95,0,0,0,77.45,16.05"
                                                                                                          class="ct-slice-donut"
                                                                                                          ct:value="32"
                                                                                                          ct:meta="{&amp;quot;data&amp;quot;:{&amp;quot;color&amp;quot;:&amp;quot;#716aca&amp;quot;}}"
                                                                                                          style="stroke-width: 17px;"
                                                                                                          stroke-dasharray="128.5814208984375px 128.5814208984375px"
                                                                                                          stroke-dashoffset="-128.5814208984375px"
                                                                                                          stroke="#716aca">
                                                                                                        <animate
                                                                                                                attributeName="stroke-dashoffset"
                                                                                                                id="anim0"
                                                                                                                dur="1000ms"
                                                                                                                from="-128.5814208984375px"
                                                                                                                to="0px"
                                                                                                                fill="freeze"
                                                                                                                stroke="#716aca"
                                                                                                                calcMode="spline"
                                                                                                                keySplines="0.23 1 0.32 1"
                                                                                                                keyTimes="0;1"></animate>
                                                                                                    </path>
                                                                                                </g>
                                                                                                <g class="ct-series custom">
                                                                                                    <path d="M28.176,120.763A63.95,63.95,0,0,0,135.408,107.026"
                                                                                                          class="ct-slice-donut"
                                                                                                          ct:value="32"
                                                                                                          ct:meta="{&amp;quot;data&amp;quot;:{&amp;quot;color&amp;quot;:&amp;quot;#00c5dc&amp;quot;}}"
                                                                                                          style="stroke-width: 17px;"
                                                                                                          stroke-dasharray="128.80242919921875px 128.80242919921875px"
                                                                                                          stroke-dashoffset="-128.80242919921875px"
                                                                                                          stroke="#00c5dc">
                                                                                                        <animate
                                                                                                                attributeName="stroke-dashoffset"
                                                                                                                id="anim1"
                                                                                                                dur="1000ms"
                                                                                                                from="-128.80242919921875px"
                                                                                                                to="0px"
                                                                                                                fill="freeze"
                                                                                                                stroke="#00c5dc"
                                                                                                                begin="anim0.end"
                                                                                                                calcMode="spline"
                                                                                                                keySplines="0.23 1 0.32 1"
                                                                                                                keyTimes="0;1"></animate>
                                                                                                    </path>
                                                                                                </g>
                                                                                                <g class="ct-series custom">
                                                                                                    <path d="M77.45,16.05A63.95,63.95,0,0,0,28.318,120.935"
                                                                                                          class="ct-slice-donut"
                                                                                                          ct:value="36"
                                                                                                          ct:meta="{&amp;quot;data&amp;quot;:{&amp;quot;color&amp;quot;:&amp;quot;#ffb822&amp;quot;}}"
                                                                                                          style="stroke-width: 17px;"
                                                                                                          stroke-dasharray="144.8779296875px 144.8779296875px"
                                                                                                          stroke-dashoffset="-144.8779296875px"
                                                                                                          stroke="#ffb822">
                                                                                                        <animate
                                                                                                                attributeName="stroke-dashoffset"
                                                                                                                id="anim2"
                                                                                                                dur="1000ms"
                                                                                                                from="-144.8779296875px"
                                                                                                                to="0px"
                                                                                                                fill="freeze"
                                                                                                                stroke="#ffb822"
                                                                                                                begin="anim1.end"
                                                                                                                calcMode="spline"
                                                                                                                keySplines="0.23 1 0.32 1"
                                                                                                                keyTimes="0;1"></animate>
                                                                                                    </path>
                                                                                                </g>
                                                                                            </svg>
                                                                                        </div>
                                        </div>
                                            <div class="col">
                                                <div class="m-widget14__legends">
                                                    <div class="m-widget14__legend">
                                                        <span class="m-widget14__legend-bullet m--bg-accent"></span>
                                                        <span class="m-widget14__legend-text">
																2000 Customers
															</span>
                                                    </div>
                                                    <div class="m-widget14__legend">
                                                        <span class="m-widget14__legend-bullet m--bg-warning"></span>
                                                        <span class="m-widget14__legend-text">
																5 Branches
															</span>
                                                    </div>
                                                    <div class="m-widget14__legend">
                                                        <span class="m-widget14__legend-bullet m--bg-brand"></span>
                                                        <span class="m-widget14__legend-text">
																10 Employees
															</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end:: Widgets/Profit Share-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--                <div class="m-portlet">-->
                    <!--                    <div class="m-portlet__body  m-portlet__body&#45;&#45;no-padding">-->
                    <!--                        <div class="row m-row&#45;&#45;no-padding m-row&#45;&#45;col-separator-xl">-->
                    <!--                            <div class="col-xl-4">-->

                    <!--                    <div class=" col-xl-3 col-lg-6">-->
                    <!--                        <div class="card card-stats mb-4 mb-xl-0">-->
                    <!--                            <div class="card-body">-->
                    <!--                                <div class="row">-->
                    <!--                                    <div class="col">-->
                    <!--                                        <h5 class="card-title text-uppercase text-muted mb-0">Total Purchase</h5>-->
                    <!--                                        <span class="h2 font-weight-bold mb-0">{{totalPurchase}}</span>-->
                    <!--                                    </div>-->
                    <!--                                    <div class="col-auto">-->
                    <!--                                        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">-->
                    <!--                                            <i class="fas fa-chart-bar"></i>-->
                    <!--                                        </div>-->
                    <!--                                    </div>-->
                    <!--                                </div>-->
                    <!--                                <p class="mt-3 mb-0 text-muted text-sm">-->
                    <!--                                    &lt;!&ndash;                      <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>&ndash;&gt;-->
                    <!--                                    &lt;!&ndash;                      <span class="text-nowrap">Since last month</span>&ndash;&gt;-->
                    <!--                                </p>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class=" col-xl-3 col-lg-6">-->
                    <!--                        <div class="card card-stats mb-4 mb-xl-0">-->
                    <!--                            <div class="card-body">-->
                    <!--                                <div class="row">-->
                    <!--                                    <div class="col">-->
                    <!--                                        <h5 class="card-title text-uppercase text-muted mb-0">Total Branch Sales</h5>-->
                    <!--                                        <span class="h2 font-weight-bold mb-0">{{totalBranchSale}}</span>-->
                    <!--                                    </div>-->
                    <!--                                    <div class="col-auto">-->
                    <!--                                        <div class="icon icon-shape bg-warning text-white rounded-circle shadow">-->
                    <!--                                            <i class="fas fa-chart-pie"></i>-->
                    <!--                                        </div>-->
                    <!--                                    </div>-->
                    <!--                                </div>-->
                    <!--                                <p class="mt-3 mb-0 text-muted text-sm">-->
                    <!--                                    &lt;!&ndash;                      <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>&ndash;&gt;-->
                    <!--                                    &lt;!&ndash;                      <span class="text-nowrap">Since last week</span>&ndash;&gt;-->
                    <!--                                </p>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class=" col-xl-3 col-lg-6">-->
                    <!--                        <div class="card card-stats mb-4 mb-xl-0">-->
                    <!--                            <div class="card-body">-->
                    <!--                                <div class="row">-->
                    <!--                                    <div class="col">-->
                    <!--                                        <h5 class="card-title text-uppercase text-muted mb-0">Total Customer Sales </h5>-->
                    <!--                                        <span class="h2 font-weight-bold mb-0">{{totalCustomerSale}}</span>-->
                    <!--                                    </div>-->
                    <!--                                    <div class="col-auto">-->
                    <!--                                        <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">-->
                    <!--                                            <i class="fa fa-users"></i>-->
                    <!--                                        </div>-->
                    <!--                                    </div>-->
                    <!--                                </div>-->
                    <!--                                <p class="mt-3 mb-0 text-muted text-sm">-->
                    <!--                                    &lt;!&ndash;                      <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>&ndash;&gt;-->
                    <!--                                    &lt;!&ndash;                      <span class="text-nowrap">Since yesterday</span>&ndash;&gt;-->
                    <!--                                </p>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class=" col-xl-3 col-lg-6">-->
                    <!--                        <div class="card card-stats mb-4 mb-xl-0">-->
                    <!--                            <div class="card-body">-->
                    <!--                                <div class="row">-->
                    <!--                                    <div class="col">-->
                    <!--                                        <h5 class="card-title text-uppercase text-muted mb-0">Total Income</h5>-->
                    <!--                                        <span class="h2 font-weight-bold mb-0">{{totalIncome}}</span>-->
                    <!--                                    </div>-->
                    <!--                                    <div class="col-auto">-->
                    <!--                                        <div class="icon icon-shape bg-info text-white rounded-circle shadow">-->
                    <!--                                            <i class="fa fa-percent"></i>-->
                    <!--                                        </div>-->
                    <!--                                    </div>-->
                    <!--                                </div>-->
                    <!--                                <p class="mt-3 mb-0 text-muted text-sm">-->
                    <!--                                    &lt;!&ndash;                      <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>&ndash;&gt;-->
                    <!--                                    &lt;!&ndash;                      <span class="text-nowrap">Since last month</span>&ndash;&gt;-->
                    <!--                                </p>-->
                    <!--                            </div>-->
                    <!--                        </div>-->

                    <!--                </div>-->

                    <!--                            </div></div></div>-->
                    <!--                </div>-->
                </div>


            </div>
            <!-- content viewport ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="row">
                    <div class="col-sm-6 text-center text-sm-right order-sm-1">
                        <ul class="text-gray">
                            <!--                        <li><a data-target="#">Terms of use</a></li>-->
                            <!--                        <li><a data-target="#">Privacy Policy</a></li>-->
                        </ul>
                    </div>
                    <div class="col-sm-6 text-center text-sm-left mt-3 mt-sm-0">
                        <small class="text-muted d-block">Copyright © 2019 <a href="#" target="_blank">Jamil.K</a>. All
                            rights reserved</small>
                        <small class="text-gray mt-2">Handcrafted With <i class="mdi mdi-heart text-danger"></i>
                            FarooqRahu</small>
                    </div>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- page content ends -->
    </div>
</div>
