<header class="background-header">

<!--
    <div class="topbar ">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 ml-auto2">
                            <div class="icon-top text-center text-sm-center text-md-left text-lg-left text-xl-left">

                                <span style="color: #dc3545;" ng-if="authenticated">ddd! <label ng-bind="loginUserData"></label></span>
                                <div class="icons">
                                    <a href="#"> <i class="fa fa-facebook"></i> </a>
                                </div>
                                <div class="icons">
                                    <a href="#"> <i class="fa fa-twitter"></i> </a>
                                </div>
                                <div class="icons">
                                    <a href="#"> <i class="fa fa-youtube-play"></i></a>
                                </div>
                                <div class="icons">
                                    <a href="#"> <i class=" fa fa-pinterest"></i></a>
                                </div>
                                <div class="icons">
                                    <a href="#"> <i class=" fa fa-instagram"></i></a>
                                </div>
                                <div class="icons">
                                    <a href="#"> <i class=" fa fa-whatsapp"></i></a>
                                </div>
                            </div>
                        </div>
                        &lt;!&ndash;<div class="col-lg-6 col-md-6 col-sm-12  ">
                            <div class="text-center text-sm-center text-md-right text-lg-right text-xl-right">
                                <div class="toplocation text-white">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <span class="locaitonfont">Location</span>

                                    <select id="openonarrow">
                                        <option>Pakistan</option>
                                        <option>India</option>
                                        <option>United States of America</option>
                                        <option>United Arab Emirates</option>
                                        <option>United Kingdom</option>
                                        <option>Australia</option>
                                        <option>Japan</option>
                                        <option>Oman</option>
                                    </select>

                                    <span class="arrowdonwing">
                    <i class="fa fa-angle-down"></i>
                  </span>
                                </div>
                            </div>
                        </div>&ndash;&gt;
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
<!--
    <div class="container">
        <div class="navigation">
            <nav class="navbar navbar-expand-lg   justify-content-between nav-color zeropadd">
                <div class="navbar-header ">
                    <a class="navbar-brand zeropadd" ui-sref="home">
                        <img src="app/assets/img/logo_200x200.png" alt="logo" class="max-width-60px"/>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link" ui-sref="home">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                       &lt;!&ndash; <li class="nav-item">
                            <a class="nav-link" ui-sref="category">Advance Search</a>
                        </li>&ndash;&gt;
                        <li class="nav-item dropdown">
                            <a href="" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false"
                               class="nav-link dropdown-toggle">Categories <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu border-0 shadow">
                                <li><a href="category.html" class="dropdown-item">Jobs </a></li>
                                <li><a href="category.html" class="dropdown-item">Properties</a></li>
                                &lt;!&ndash; Level two dropdown&ndash;&gt;
                                <li class="dropdown-submenu">
                                    <a href="category.html" role="button" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false"
                                       class="dropdown-item dropdown-toggle">Phones</a>
                                    <ul   class="dropdown-menu border-0 shadow">
                                        <li>
                                            <a tabindex="-1" href="category.html" class="dropdown-item">Apple</a>
                                        </li>
                                        <li><a href="category.html" class="dropdown-item">Samsung</a></li>
                                        <li><a href="category.html" class="dropdown-item">LG</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="category.html" role="button" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false"
                                       class="dropdown-item dropdown-toggle">Cars</a>
                                    <ul   class="dropdown-menu border-0 shadow">
                                        <li>
                                            <a tabindex="-1" href="category.html" class="dropdown-item">Toyota</a>
                                        </li>
                                        <li><a href="category.html" class="dropdown-item">Suzuki</a></li>
                                        <li><a href="category.html" class="dropdown-item">Honda</a></li>
                                    </ul>
                                </li>
                                <li><a href="category.html" class="dropdown-item">Rent</a></li>
                                <li><a href="category.html" class="dropdown-item">Serviecs</a></li>

                            </ul>
                        </li>


                       &lt;!&ndash; <li class="nav-item dropdown">
                            <a  href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                class="nav-link dropdown-toggle">Pages <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu border-0 shadow">
                                <li><a href="aboutus.html" class="dropdown-item">About</a></li>
                                <li><a href="blog.html" class="dropdown-item">Blog</a></li>
                                <li><a href="contactus.html" class="dropdown-item">Contact Us</a></li>
                                <li><a href="faq.html" class="dropdown-item">Faq</a></li>
                            </ul>
                        </li>&ndash;&gt;

                     &lt;!&ndash;   <li class="nav-item">
                            <a class="nav-link" ui-sref="contactus">Contact Us</a>
                        </li>&ndash;&gt;
                        &lt;!&ndash;<li class="nav-item">
                            <a class="nav-link" ui-sref="loginRegister"><i class="fa fa-user" aria-hidden="true"></i>Login / Register</a>
                        </li>&ndash;&gt;
&lt;!&ndash;
                        <li class="nav-item  bordering">
                            <a class="nav-link" ui-sref="postad">Post Free Ad</a>
                        </li>
&ndash;&gt;
                    </ul>
                </div>
            </nav>

        </div>
    </div>
-->
</header>
