<div>

<h1 class="text-center padd">Product Details</h1>

<div>

    <table class="table">
        <thead class="thead-default">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Author</th>
            <th>Duration</th>
            <th>Date</th>
            <th>Album</th>

        </tr>
        </thead>

        <tbody>
        <tr>

            <td>{{productsId}}</td>
            <td>{{productsName}}</td>
            <td>{{productsAuthor}}</td>
            <td>{{productsDuration}}</td>
            <td>{{productsDate}}</td>
            <td>{{productsAlbum}}</td>

        </tr>
        </tbody>

    </table>
</div>

<div class="float-right">
    <a data-ui-sref="home" class="btn btn-secondary" role="button">Back</a>
</div>

</div>
