<!-- partial:../../partials/_header.html -->

<!-- partial -->
<div ng-controller="ProductController as productControllerVm" ng-init="findAllProducts();" class="page-body">
    <!-- partial:../../partials/_sidebar.html -->
    <div ng-include="'app/views/sidebar.html'"></div>
    <!-- partial -->
    <div class="page-content-wrapper">
        <div class="page-content-wrapper-inner">
            <div class="viewport-header">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb has-arrow">
                        <li class="breadcrumb-item">
                            <a href="#">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Products</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">All Products</li>
                    </ol>
                </nav>
            </div>
            <div class="content-viewport">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="clearData()"
                        data-target="#productModal">
                    Add New Product
                </button>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="grid">
                            <p class="grid-header">All Products</p>


                            <div class="item-wrapper">
                                <div class="table-responsive">
                                 <!--   <button type="button" class="btn btn-danger" ng-click="deleteSelected()">Delete
                                        Selected
                                    </button>-->
                                    <div class="col-lg-12">

                                        <div ui-grid="allProductsDataUIGrid" ui-grid-resize-columns
                                             ui-grid-move-columns
                                             ui-grid-selection ui-grid-auto-resize ui-grid-pagination
                                             class="grid"></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content viewport ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
            <div class="row">
                <div class="col-sm-6 text-center text-sm-right order-sm-1">
                    <ul class="text-gray">
                        <li><a href="#">Terms of use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 text-center text-sm-left mt-3 mt-sm-0">
                    <small class="text-muted d-block">Copyright © 2019 <a href="#" target="_blank">Jamil.K</a>.
                        All rights reserved
                    </small>
                    <small class="text-gray mt-2">Handcrafted With <i class="mdi mdi-heart text-danger"></i> Developed By: FarooqRahu</small>
                </div>
            </div>
        </footer>
        <!-- partial -->
    </div>
    <!-- page content ends -->
    <!-- Modal -->
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form data-ng-submit="addProduct()" name="addProductForm" novalidate>
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add New Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-lg-12">
                            <div class="grid">
                                <p class="grid-header">Fill form to add new product </p>
                                <div class="grid-body">
                                    <div class="item-wrapper">
                                        <div class="row ">

                                            <div class="col-lg-6">
                                                <div class="grid">
                                                    <div class="grid-body">
                                                        <div class="form-group input-rounded">
                                                            <label for="productCategory">Select Product
                                                                Category:</label>
                                                            <select style="border-radius:25px" id="productCategory"
                                                                    name="productCategory"
                                                                    class="custom-select "
                                                                    ng-change="selectProductCategory(productCategory.value)"
                                                                    ng-model="productCategory.value"
                                                                    ng-options="v for v in productCategory.values">
                                                            </select>
                                                        </div>


                                                        <div class="form-group input-rounded"
                                                             data-ng-class="{ 'has-error': addProductForm.name.$invalid && addProductForm.name.$dirty }">
                                                            <label for="name"> Name:</label>
                                                            <input tabindex="1" type="text" required
                                                                   class="form-control"
                                                                   data-ng-model="product.name" id="name" name="name">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="grid">
                                                    <div class="grid-body">

                                                        <div class="form-group input-rounded">
                                                            <label for="productCompany">Select Product Company:</label>
                                                            <select style="border-radius:25px" id="productCompany"
                                                                    name="productCompany"
                                                                    ng-change="selectProductCompany(productCompany.value)"
                                                                    class="custom-select "
                                                                    ng-model="productCompany.value"
                                                                    ng-options="v for v in productCompany.values">
                                                            </select>
                                                        </div>

                                                        <div class="form-group input-rounded"
                                                             data-ng-class="{ 'has-error': addProductForm.name.$invalid && addProductForm.name.$dirty }">
                                                            <label for="model"> Model :</label>
                                                            <input tabindex="1" type="text" required
                                                                   class="form-control"
                                                                   data-ng-model="product.model" id="model"
                                                                   name="model">

                                                        </div>
                                                    </div>


                                                </div>


                                                <!-- <small data-ng-show="!editUserBol && (confirmPassword != product.password )"
                                                        id="passwordHelp" class="text-danger">
                                                     Password Not Matching
                                                 </small>-->


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <!--                        <button type="submit" data-ng-disabled="product.$invalid || (confirmPassword != product.password)" class="btn btn-primary">Save changes</button>-->
                            <button ng-show="!editUserBol" type="submit" class="col-4 center btn btn-primary"
                                    data-ng-disabled="addProductForm.$invalid || (confirmPassword != product.password)">
                                Submit
                            </button>

                            <button ng-show="editUserBol" type="submit" class="col-4 center btn btn-primary"
                            >Submit
                            </button>

                        </div>
                </form>

            </div>
        </div>
    </div>

</div>


