<div>
{{user.principal.name}}
    <div class="float-right padd">
        <a data-ui-sref="new-product" class="btn btn-warning" role="button" data-ng-show="user.principal.role =='ADMIN'">+ Add new product</a>
    </div>

    <div class="alert alert-info margin-top-5 col-sm-3 message" data-ng-show="message">{{message}}</div>


    <div>

        <table class="table">
            <thead class="thead-default">
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Duration</th>
                <th>&nbsp;</th>
                <th data-ng-show="user.principal.role =='ADMIN'">&nbsp;</th>
                <th data-ng-show="user.principal.role =='ADMIN'">&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            </thead>

            <tbody>
            <tr data-ng-repeat="product in products" >

                <td><a data-ui-sref="details" data-ng-click="productsDetails(product)">{{product.name}}</a></td>
                <td>{{product.author.name}}</td>
                <td>{{product.duration}}</td>
                <td>
                    <button data-ng-click="downloadProduct(product)" class="btn btn-secondary btn-sm">download</button>
                    <form id="download" method="GET" action="/downloadProduct"></form>
                </td>

                <td data-ng-show="user.principal.role =='ADMIN'"><a data-ui-sref="edit" data-ng-click="editProduct(product)" class="btn btn-info btn-sm" role="button">edit</a></td>

                <td data-ng-show="user.principal.role =='ADMIN'"><button data-ng-click="deleteProduct(product)" class="btn btn-danger btn-sm">delete</button></td>

                <td><button data-ng-click="addProductProductlist(product)" class="btn btn-secondary btn-sm">Add to productList</button></td>

            </tr>
            </tbody>

        </table>

    </div>

</div>


