<!-- partial:../../partials/_header.html -->

<!-- partial -->
<div ng-controller="ReportsController as reportsController" ng-init="getPurchaseData();" class="page-body">
    <!-- partial:../../partials/_sidebar.html -->
    <div ng-include="'app/views/sidebar.html'"></div>
    <!-- partial -->
    <div class="page-content-wrapper">
        <div class="page-content-wrapper-inner">
            <div class="viewport-header">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb has-arrow">
                        <li class="breadcrumb-item">
                            <a href="#">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Reports</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Purchase Report</li>
                    </ol>
                </nav>
            </div>
            <div class="content-viewport">
                <!-- Button trigger modal -->

                <div class="row">
                    <div class="col-lg-12">
                        <div ui-grid="purchaseData" ui-grid-resize-columns
                             ui-grid-move-columns
                             ui-grid-auto-resize ui-grid-pagination
                             class="grid"></div>
                    </div>


                </div>
            </div>
        </div>


</div>


