		<div class="col-lg-5 col-md-7 col-sm-9 col-11 mx-auto">

			<div class="grid">
				<div class="grid-body">
					<div class="col-12 logo-section">
						<a ui-sref="login" class="logo">
							<img src="app/assets/images/logo.svg" alt="logo" />
						</a>
					</div>

					<div ng-controller="UsersController as userControllerVm" class="row">
						<div class="col-lg-7 col-md-8 col-sm-9 col-12 mx-auto form-wrapper">
							<div class="alert alert-info margin-top-5" data-ng-show="message">{{message}}</div>
							<form data-ng-submit="registerUser()" name="register" novalidate>
								<div class="form-group input-rounded"
									 data-ng-class="{ 'has-error': register.name.$invalid && register.name.$dirty }">
									<label for="name">Name:</label> <input type="text" required
																		   class="form-control" data-ng-model="user.name" id="name" name="name">
								</div>

								<div class="form-group input-rounded"
									 data-ng-class="{ 'has-error': register.username.$invalid && register.username.$dirty }">
									<label for="name">User Name:</label> <input type="text" required
																		   class="form-control" data-ng-model="user.username" id="username" name="username">
								</div>
								<div  class="form-group input-rounded has-error">
									<p >Select User Role:</p>
									<select name="role" class="custom-select" ng-model="roles.value" ng-options="v for v in roles.values">
									</select>
								</div>

								<div class="form-group input-rounded"
									 data-ng-class="{ 'has-error': register.password.$invalid && register.password.$dirty }">
									<label for="pwd">Password:</label> <input type="password" required
																			  class="form-control" id="pwd" data-ng-model="user.password" name="password">
								</div>

								<div class="form-group input-rounded"
									 data-ng-class="{ 'has-error': register.confirmPassword.$invalid && register.confirmPassword.$dirty }">
									<label for="cpwd">Confirm Password:</label> <input type="password"
																					   name="confirmPassword" required class="form-control" id="cpwd" data-ng-model="confirmPassword">
								</div>

								<div class="alert alert-warning margin-top-5"
									 data-ng-show="confirmPassword != user.password ">Password Not Matching</div>
								<div class="form-group">
									<button type="submit" class="col-4 center btn btn-secondary"
											data-ng-disabled="register.$invalid || (confirmPassword != user.password)">Register</button>

								</div>
								<div class="signup-link">
									<p>Already have account <a href="#" data-ui-sref="login">Sign In</a></p>

								</div>
							</form>


						</div>
					</div>
				</div>
			</div>
		</div>

