<div   class="sidebar">
    <div class="user-profile">
        <div class="display-avatar animated-avatar">
            <img class="profile-img img-lg rounded-circle" src="app/assets/images/profile/female/image_1.png" alt="profile image">
        </div>
        <div class="info-wrapper">
            <h5 class="user-name">Welcome <span style="color: blue;" ng-bind="loginUserData.username"></span>!</h5>
            <h6 class="display-income">Role:<span style="color: blue;" ng-bind="loginUserData.roles[0].name"></span></h6>
            <p style="font-size: 15px;" class="display-income">Branch:<span style="color: blue;" ng-bind="loginUserData.branches[0].branchName"></span> <span style="color: blue;" ng-bind="loginUserData.branches[0].address"></span></p>

        </div>
    </div>
    <ul class="navigation-menu">
<!--        <li class="nav-category-divider">MAIN</li>-->
        <li>
            <a class="show_hand" ui-sref="home">
                <span class="link-title">Dashboard</span>
                <i class="mdi mdi-gauge link-icon"></i>
            </a>
        </li>
        <li>
            <a class="show_hand" data-target="#users" data-toggle="collapse" aria-expanded="false">
                <span class="link-title">Users</span>
                <i class="mdi mdi-face link-icon"></i>
            </a>
            <ul class="collapse navigation-submenu" id="users">
                <li>
                    <a  ui-sref="users" >Users</a>
                </li>

            </ul>
        </li>
        <li>
            <a class="show_hand" data-target="#products" data-toggle="collapse" aria-expanded="false">
                <span class="link-title">Products</span>
                <i class="mdi mdi-sale link-icon"></i>
            </a>
            <ul class="collapse navigation-submenu" id="products">
                <li>
                    <a  ui-sref="productCompany" >Product Company</a>
                </li>
                <li>
                    <a  ui-sref="productCategory" >Product Category</a>
                </li>
                <li>
                    <a  ui-sref="products" >Products</a>
                </li>
                <li>
                    <a  ui-sref="stocks" >Add Product Stock</a>
                </li>
                <li>
                    <a  ui-sref="saletobranch" >Sale Product to Branch</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="show_hand" data-target="#reports" data-toggle="collapse" aria-expanded="false">
                <span class="link-title">Reports</span>
                <i class="mdi mdi-file-account link-icon"></i>
            </a>
            <ul class="collapse navigation-submenu" id="reports">
                <li>
                    <a  ui-sref="glReport" >General Ledger Report</a>
                </li>

                <li>
                    <a  ui-sref="purchaseReport" >Purchase Report</a>
                </li>
                <li>
                    <a  ui-sref="branchSaleReport" >Branch Sale Report</a>
                </li>
            </ul>
        </li>

        <li>
            <a class="show_hand" data-target="#customers" data-toggle="collapse" aria-expanded="false">
                <span class="link-title">Customers</span>
                <i class="mdi mdi-face-profile link-icon"></i>
            </a>
            <ul class="collapse navigation-submenu" id="customers">
                <li>
                    <a  ui-sref="customers" >Customers</a>
                </li>
                <li>
                    <a  ui-sref="saletocustomer" >Sale Product to Customer</a>
                </li>
            </ul>
        </li>
        <!--<li>
            <a class="show_hand" data-target="#sale" data-toggle="collapse" aria-expanded="false">
                <span class="link-title">Branches</span>
                <i class="mdi mdi-flask link-icon"></i>
            </a>
            <ul class="collapse navigation-submenu" id="sale">
                <li>
                    <a  ui-sref="branches" >Branches</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="show_hand" data-target="#ui-elements" data-toggle="collapse" aria-expanded="false">
                <span class="link-title ">UI Elements</span>
                <i class="mdi mdi-bullseye link-icon"></i>
            </a>
            <ul class="collapse navigation-submenu" id="ui-elements">
                <li>
                    <a  ui-sref="icon">Icons</a>
                </li>
                <li>
                    <a href="pages/ui-components/tables.html">Tables</a>
                </li>
                <li>
                    <a href="pages/ui-components/typography.html">Typography</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="pages/forms/form-elements.html">
                <span class="link-title">Forms</span>
                <i class="mdi mdi-clipboard-outline link-icon"></i>
            </a>
        </li>
        <li>
            <a href="pages/charts/chartjs.html">
                <span class="link-title">Charts</span>
                <i class="mdi mdi-chart-donut link-icon"></i>
            </a>
        </li>
        <li>
            <a href="pages/icons/material-icons.html">
                <span class="link-title">Icons</span>
                <i class="mdi mdi-flower-tulip-outline link-icon"></i>
            </a>
        </li>-->
<!--        <li class="nav-category-divider">DOCS</li>-->
<!--
        <li>
            <a href="app/docs/docs.html">
                <span class="link-title">Documentation</span>
                <i class="mdi mdi-asterisk link-icon"></i>
            </a>
        </li>
-->
    </ul>
<!--
    <div class="sidebar-upgrade-banner">
        <p class="text-gray">This is <b class="text-primary">Add</b> Section</p>
        <a class="btn upgrade-btn" target="_blank" href="http://www.uxcandy.co/product/label-pro-admin-template/">Add Link</a>
    </div>
-->
</div>
