<!-- partial:../../partials/_header.html -->

<!-- partial -->
<div ng-controller="ProductStockController as productControllerVm" ng-init="findAllProducts();" class="page-body">
    <!-- partial:../../partials/_sidebar.html -->
    <div ng-include="'app/views/sidebar.html'"></div>
    <!-- partial -->
    <div class="page-content-wrapper">
        <div class="page-content-wrapper-inner">
            <div class="viewport-header">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb has-arrow">
                        <li class="breadcrumb-item">
                            <a href="#">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Products Stocks</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">All Product Stocks</li>
                    </ol>
                </nav>
            </div>
            <div class="content-viewport">
                <!-- Button trigger modal -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="grid">
                            <p class="grid-header">All Product Stocks</p>


                            <div class="item-wrapper">
                                <div class="table-responsive">
                                    <div class="col-lg-12">

                                        <div ui-grid="allProductsDataUIGrid" ui-grid-resize-columns
                                             ui-grid-move-columns
                                              ui-grid-auto-resize ui-grid-pagination
                                             class="grid"></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content viewport ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
            <div class="row">
                <div class="col-sm-6 text-center text-sm-right order-sm-1">
                    <ul class="text-gray">
                        <li><a href="#">Terms of use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 text-center text-sm-left mt-3 mt-sm-0">
                    <small class="text-muted d-block">Copyright © 2019 <a href="http://www.uxcandy.co" target="_blank">UXCANDY</a>.
                        All rights reserved
                    </small>
                    <small class="text-gray mt-2">Handcrafted With <i class="mdi mdi-heart text-danger"></i></small>
                </div>
            </div>
        </footer>
        <!-- partial -->
    </div>
    <!-- page content ends -->
    <!-- Modal -->
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form data-ng-submit="addProductStock()" name="updateProductStockForm" novalidate>
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Product Stock</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-lg-12">
                            <div class="grid">
                                <p class="grid-header">Update product stock for any branch</p>
                                <div class="grid-body">
                                    <div class="item-wrapper">
                                        <div class="row ">

                                            <div class="col-lg-6">
                                                <div class="grid">
                                                    <div class="grid-body">




                                                        <div class="form-group input-rounded"
                                                             data-ng-class="{ 'has-error': updateProductStockForm.name.$invalid && updateProductStockForm.name.$dirty }">
                                                            <label for="name"> Name:</label>
                                                            <input tabindex="1" type="text" required
                                                                   class="form-control"
                                                                   data-ng-model="product.name" id="name" ng-disabled="true" name="name">

                                                        </div>


                                                        <div class="form-group input-rounded"
                                                             data-ng-class="{ 'has-error': updateProductStockForm.display.$invalid && updateProductStockForm.display.$dirty }">
                                                            <label for="display"> Display:</label>
                                                            <input tabindex="1" type="text" ng-disabled="true" class="form-control"
                                                                   data-ng-model="product.display" id="display"
                                                                   name="display">

                                                        </div>

                                                        <div class="form-group input-rounded"
                                                             data-ng-class="{ 'has-error': updateProductStockForm.os.$invalid && updateProductStockForm.os.$dirty }">
                                                            <label for="os"> OS:</label>
                                                            <input tabindex="1" ng-disabled="true" type="text" class="form-control"
                                                                   data-ng-model="product.os" id="os" name="os">

                                                        </div>

                                                        <div class="form-group input-rounded"
                                                             data-ng-class="{ 'has-error': updateProductStockForm.cameras.$invalid && updateProductStockForm.cameras.$dirty }">
                                                            <label for="cameras"> Cameras:</label>
                                                            <input tabindex="1" ng-disabled="true" type="text" class="form-control"
                                                                   data-ng-model="product.cameras" id="cameras"
                                                                   name="cameras">

                                                        </div>
                                                        <div class="form-group input-rounded"
                                                             data-ng-class="{ 'has-error': updateProductStockForm.colors.$invalid && updateProductStockForm.colors.$dirty }">
                                                            <label for="colors"> Colors:</label>
                                                            <input ng-disabled="true" tabindex="1" type="text" required
                                                                   class="form-control"
                                                                   data-ng-model="product.colors" id="colors"
                                                                   name="colors">

                                                        </div>



                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="grid">
                                                    <div class="grid-body">






                                                        <div class="form-group input-rounded"
                                                             data-ng-class="{ 'has-error': updateProductStockForm.memory.$invalid && updateProductStockForm.memory.$dirty }">
                                                            <label for="memory"> Memory:</label>
                                                            <input ng-disabled="true" tabindex="1" type="text" required
                                                                   class="form-control"
                                                                   data-ng-model="product.memory" id="memory"
                                                                   name="memory">

                                                        </div>
                                                        <div class="form-group input-rounded disable-fields"
                                                             data-ng-class="{ 'has-error': updateProductStockForm.battery.$invalid && updateProductStockForm.battery.$dirty }">
                                                            <label for="battery"> Battery:</label>
                                                            <input ng-disabled="true"  tabindex="1" type="text"
                                                                   class="form-control"
                                                                   data-ng-model="product.battery" id="battery"
                                                                   name="battery">

                                                        </div>

                                                        <div  class="form-group input-rounded">
                                                            <label for="branchId" >Select branch for available stock:</label>
                                                            <!--<select autofocus ng-change="showStockBranchWise(branches.value)" style="border-radius:25px" id="branch" name="branch" class="custom-select " ng-model="branches.value" ng-options="v for v in branches.values">
                                                            </select>-->
                                                            <select ng-model="branchId" ng-change="showStockBranchWise(branchId)"
                                                                    name="branchId" id="branchId"
                                                                    ng-options="branch.id as branch.branchName for branch in branches"
                                                                    class="form-control" required>
                                                                <option value="">Select Branch</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group input-rounded"
                                                             data-ng-class="{ 'has-error': updateProductStockForm.battery.$invalid && updateProductStockForm.battery.$dirty }">
                                                            <label for="battery"> Product Stock available:</label>
                                                            <input  tabindex="1" type="text" required
                                                                   class="form-control"
                                                                   data-ng-model="productStock.quantity" id="quantity"
                                                                   name="battery">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <!--                        <button type="submit" data-ng-disabled="product.$invalid || (confirmPassword != product.password)" class="btn btn-primary">Save changes</button>-->
                        <button ng-show="!editUserBol" type="submit" class="col-4 center btn btn-primary"
                                data-ng-disabled="updateProductStockForm.$invalid || (confirmPassword != product.password)">
                            Submit
                        </button>

                        <button ng-show="editUserBol" type="submit" class="col-4 center btn btn-primary"
                        >Submit
                        </button>

                    </div>
                </form>

            </div>
        </div>
    </div>

</div>


