
<!-- partial:../../partials/_header.html -->

<!-- partial -->
<div class="page-body">
	<!-- partial:../../partials/_sidebar.html -->
	<div ng-include="'app/views/sidebar.html'"> </div>
	<!-- partial -->
	<div class="page-content-wrapper">
		<div class="page-content-wrapper-inner">
			<div class="viewport-header">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb has-arrow">
						<li class="breadcrumb-item">
							<a href="#">Dashboard</a>
						</li>
						<li class="breadcrumb-item">
							<a href="#">User</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">All Users</li>
					</ol>
				</nav>
			</div>
			<div class="content-viewport">
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
					Add New User
				</button>
				<div class="row">


					<div class="col-lg-12">
						<div class="grid">
							<p class="grid-header">Table With Badge</p>
							<div class="item-wrapper">
								<div class="table-responsive">
									<table class="table">
										<thead>
										<tr>
											<th>Profile</th>
											<th>VatNo.</th>
											<th>Created</th>
											<th>Status</th>
										</tr>
										</thead>
										<tbody>
										<tr>
											<td>Jacob</td>
											<td>53275531</td>
											<td>12 May 2017</td>
											<td>
												<label class="badge badge-danger">Pending</label>
											</td>
										</tr>
										<tr>
											<td>Messsy</td>
											<td>53275532</td>
											<td>15 May 2017</td>
											<td>
												<label class="badge badge-warning">In progress</label>
											</td>
										</tr>
										<tr>
											<td>John</td>
											<td>53275533</td>
											<td>14 May 2017</td>
											<td>
												<label class="badge badge-info">Fixed</label>
											</td>
										</tr>
										<tr>
											<td>Peter</td>
											<td>53275534</td>
											<td>16 May 2017</td>
											<td>
												<label class="badge badge-success">Completed</label>
											</td>
										</tr>
										<tr>
											<td>Dave</td>
											<td>53275535</td>
											<td>20 May 2017</td>
											<td>
												<label class="badge badge-warning">In progress</label>
											</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>



				</div>
			</div>
		</div>


		<!-- content viewport ends -->
		<!-- partial:../../partials/_footer.html -->
		<footer class="footer">
			<div class="row">
				<div class="col-sm-6 text-center text-sm-right order-sm-1">
					<ul class="text-gray">
						<li><a href="#">Terms of use</a></li>
						<li><a href="#">Privacy Policy</a></li>
					</ul>
				</div>
				<div class="col-sm-6 text-center text-sm-left mt-3 mt-sm-0">
					<small class="text-muted d-block">Copyright © 2019 <a href="http://www.uxcandy.co" target="_blank">UXCANDY</a>. All rights reserved</small>
					<small class="text-gray mt-2">Handcrafted With <i class="mdi mdi-heart text-danger"></i></small>
				</div>
			</div>
		</footer>
		<!-- partial -->
	</div>
	<!-- page content ends -->
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">User Registration</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="col-lg-12">
					<div class="grid">
						<p class="grid-header">Fill form to register new user</p>
						<div class="grid-body">
							<div class="item-wrapper">
								<div class="row mb-3">
									<div class="col-md-8 mx-auto">
										<div class="form-group row showcase_row_area">
											<div class="col-md-3 showcase_text_area">
												<label for="inputType1">Name</label>
											</div>
											<div class="col-md-9 showcase_content_area">
												<input type="text" class="form-control" id="inputType1" value="Sara Watson">
											</div>
										</div>
										<div class="form-group row showcase_row_area">
											<div class="col-md-3 showcase_text_area">
												<label for="inputType12">Email</label>
											</div>
											<div class="col-md-9 showcase_content_area">
												<input type="email" class="form-control" id="inputType2" value="asfabiv@rud.eu">
											</div>
										</div>
										<div class="form-group row showcase_row_area">
											<div class="col-md-3 showcase_text_area">
												<label for="inputType13">Password</label>
											</div>
											<div class="col-md-9 showcase_content_area">
												<input type="password" class="form-control" id="inputType3" value="00000000"> </div>
										</div>
										<div class="form-group row showcase_row_area">
											<div class="col-md-3 showcase_text_area">
												<label for="inputType1">Number</label>
											</div>
											<div class="col-md-9 showcase_content_area">
												<input type="number" class="form-control" id="inputType4" value="83393922">
											</div>
										</div>
										<div class="form-group row showcase_row_area">
											<div class="col-md-3 showcase_text_area">
												<label for="inputType5">Disabled</label>
											</div>
											<div class="col-md-9 showcase_content_area">
												<input type="text" class="form-control" id="inputType5" value="Hulda Stevenson" disabled>
											</div>
										</div>
										<div class="form-group row showcase_row_area">
											<div class="col-md-3 showcase_text_area">
												<label for="inputType7">Placeholder</label>
											</div>
											<div class="col-md-9 showcase_content_area">
												<input type="text" class="form-control" id="inputType7" placeholder="Placeholder Text">
											</div>
										</div>
										<div class="form-group row showcase_row_area">
											<div class="col-md-3 showcase_text_area">
												<label for="inputType8">Read-only</label>
											</div>
											<div class="col-md-9 showcase_content_area">
												<input type="text" class="form-control" id="inputType8" readonly="readonly" value="Hulda Stevenson">
											</div>
										</div>
										<div class="form-group row showcase_row_area">
											<div class="col-md-3 showcase_text_area">
												<label for="inputType9">Textarea</label>
											</div>
											<div class="col-md-9 showcase_content_area">
												<textarea class="form-control" id="inputType9" cols="12" rows="5"></textarea>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>
